tr
  td(data-label="征订") &nbsp;#{book.id}
  td(data-label="书目") &nbsp;#{book.name}
  td(data-label="版别") &nbsp;#{book.press}
  td(data-label="价格") &nbsp;#{repo.price}
  td(data-label="征订数") &nbsp;#{order.count}
  td(data-label="到货数") &nbsp;#{repo.amount}
  td(data-label="差数") &nbsp;#{diff}
  td(data-label="差额") &nbsp;#{pricediff.toFixed(2)}
  td(data-label="线索") &nbsp;#{analyse}
