tr(id="order-#{book.id}")
  td(data-label="征订") &nbsp;#{book.id}
  td(data-label="书目") &nbsp;#{book.name}
  td(data-label="版别") &nbsp;#{book.press}
  td(data-label="数量") &nbsp;#{order.count}
  each school in schools
    td(data-label="#{school}") &nbsp;#{order[school]}
