tr
  td(data-label="征订") &nbsp;#{book.id}
  td(data-label="书目") &nbsp;#{book.name}
  td(data-label="版别") &nbsp;#{book.press}
  td(data-label="价格") &nbsp;#{item.price}
  td(data-label="册数") &nbsp;#{item.amount}
  - if(item.wrap != undefined) {
  td(data-label="规格") &nbsp;#{item.wrap.package}x#{item.wrap.bundle}
  - var a = Math.floor(item.amount / item.wrap.bundle / item.wrap.package);
  - var b = Math.floor(item.amount / item.wrap.bundle) % item.wrap.package;
  - var c = item.amount % item.wrap.bundle;
  td(data-label="包装") &nbsp;#{a}+#{b}+#{c}
  - }else{
  td(data-label="规格") &nbsp;
  td(data-label="包装") &nbsp;
  - }
  td(data-label="批次") &nbsp;#{item.source}
