tr
  td(data-label="征订") &nbsp;#{book.id}
  td(data-label="书目") &nbsp;#{book.name}
  td(data-label="版别") &nbsp;#{book.press}
  - if(repo.wrap != undefined && !_.isUndefined(order.count) && order.count>0) {
  - var a = Math.floor(order.count / repo.wrap.bundle / repo.wrap.package);
  - var b = Math.floor(order.count / repo.wrap.bundle) % repo.wrap.package;
  - var c = order.count % repo.wrap.bundle;
  td(data-label="汇总") &nbsp;#{a}+#{b}+#{c}
  - }else{
  td(data-label="汇总") &nbsp;#{order.count}
  - }
  td(data-label="规格") &nbsp;#{repo.wrap.package}x#{repo.wrap.bundle}
  each school in schools
    - if(repo.wrap != undefined && !_.isUndefined(order[school]) && order[school]>0) {
    - var a = Math.floor(order[school] / repo.wrap.bundle / repo.wrap.package);
    - var b = Math.floor(order[school] / repo.wrap.bundle) % repo.wrap.package;
    - var c = order[school] % repo.wrap.bundle;
    td(data-label="#{school}") &nbsp;#{a}+#{b}+#{c}
    - }else{
    td(data-label="#{school}") &nbsp;#{order[school]}
    - }
