
#repo-table {
    overflow-x: auto;
    overflow-y: visible;
}

#repo-cloned-table {
    position: fixed;
    top: 0px;
    padding-top: 47px;
    z-index: 1020;
    overflow: hidden;
    background-color: white;
}

#repo-cloned-table thead {
    font-weight: bold; 
}
#repo-cloned-table thead tr {
    brepo-bottom: 1px solid #DDD;
}
#repo-cloned-table .label {
    margin-left: 5px;
}

#repo-table td, 
#repo-table th,
#repo-table thead tr { 
    text-align: left; 
}

#repo-table .label {
    margin-left: 5px;
}

@media 
only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #repo-table {
        overflow-x: visible;
        overflow-y: visible;
    }

    #repo-cloned-table {
        display: none;
        visibility: hidden;
    }

}

