
html, body {
    font-size: 12px;
    font-family: Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    background-image: url(../img/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 -70px;
}

body {
    overflow-x: hidden;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 90px;
    padding-top: 90px;
}

#footer {
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 91px;
    text-align: center;
}

.legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 27px;
    font-size: 19.5px;
    line-height: 36px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
    text-decoration: none;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

.nav-list li.active i {
    background-image: url("../img/glyphicons-halflings-white.png");
}

#content [class^="icon-"], 
#content [class*=" icon-"] {
    margin-right: 6px !important;
}

textarea {
    min-height: 176px;
}

pre {
    font-size: 14px;
    font-family: Tahoma, Helvetica, Arial, DejaVu Sans, sans-serif;
}

.frame-header
{
    margin-bottom: 60px;
}

/* Responsive Configurations
-------------------------------------------------- */
@media (max-width: 767px) {

    #content {
        margin-right: 10px;
        margin-left: 10px;
    }

}


@media (max-width: 979px) {

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        margin-right: 0;
        margin-left: 0;
    }

    #content {
        padding-top: 20px;
    }

    .frame-header
    {
        margin-bottom: 20px;
    }

}

@media (min-width: 768px) and (max-width: 980px) {

}


@media (max-width: 980px) {

    /* Unfloat brand */
    .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

}


/* LARGE DESKTOP SCREENS */
@media (min-width: 1210px) {

}

.table thead tr { 
    font-weight: bold; 
}

.table .label {
    margin-left: 1px;
    margin-right: 1px;
}

.table-responsive-frame {
    overflow-x: visible;
    overflow-y: visible;
}

.table-cloned-header {
    position: fixed;
    top: 0px;
    padding-top: 47px;
    z-index: 1020;
    overflow: hidden;
    background-color: white;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    .table-responsive, 
    .table-responsive thead, 
    .table-responsive tbody, 
    .table-responsive th, 
    .table-responsive td, 
    .table-responsive tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .table-responsive thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .table-responsive td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 30%; 
    }
    
    .table-responsive td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: -10px;
        width: 30%; 
        text-align: right;
        white-space: nowrap;
        font-weight: bold; 
        content: attr(data-label);
    }

    .table-cloned-header {
        display: none;
        visibility: hidden;
    }
    
}
