.frame-header
  h1 数据分析 &nbsp;
    small 核对征订-到货信息、检查数据错误
.row
  #analyse-table.span12.table-responsive-frame
    table.table.table-striped.table-bordered.table-responsive
      thead
        tr
          td 征订
          td 书目
          td 版别
          td 价格
          td 征订数
          td 到货数
          td 差数
          td 差额
          td 线索
      tbody
.row
  center.span12: h4#analyse-result
