doctype default
html
  head
    block head
      block meta
        //- Metadata Section, Encoding & ViewPort
        meta(charset="utf-8")
        meta(name="viewport", 
             content="width=device-width, initial-scale=1.0")
      block styles
        //- bootstrap style sheet
        link(type="text/css", rel="stylesheet", 
             href="css/bootstrap.css")
        link(type="text/css", rel="stylesheet", 
             href="css/bootstrap-responsive.css")
        link(type="text/css", rel="stylesheet", 
             href="css/common.css")
      //- Shortcut Icon
      link(rel="shortcut icon", href="img/favicon.ico")
  body
    #wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse", 
                             data-target=".nav-collapse")
              span.icon-bar 
              span.icon-bar 
              span.icon-bar 
            a.brand(href="/") BookBee
            .nav-collapse.collapse
              block navbar
      .container
        #content
          block content
      #footer
        hr.soften
        p Copyright &copy; Shinon 2012 All right reserved
        p Style enhanced by 
            a(href="http://twitter.github.com/bootstrap/") Bootstrap
    block scripts
      //- jQuery & bootstrap
      script(type="text/javascript", src="js/jquery.min.js")
      // bootstrap script with all plugins embeded
      script(type="text/javascript", src="js/bootstrap.min.js")
      // underscore utility library
      script(type="text/javascript", src="js/underscore.js")
