extends basic
append head
  title BookBee
block navbar
  include navigation
block content
  #home-frame.hide
    include home
  #order-frame.hide
    include order
  #repo-frame.hide
    include repository
  #report-frame.hide
    include report
  #analyse-frame.hide
    include analyse
  #schedule-frame.hide
    include schedule
  #clients-frame.hide
    include man-clients
  #books-frame.hide
    include man-books
  #accounts-frame.hide
    include man-accounts
  #help-frame.hide
    include help
  #login-frame.hide
    include login
  #profile-frame.hide
    include profile
append styles
  link(type="text/css", rel="stylesheet", href="css/b-login.css")
  // link(type="text/css", rel="stylesheet", href="css/b-order.css")
  // link(type="text/css", rel="stylesheet", href="css/b-repo.css")
  // link(type="text/css", rel="stylesheet", href="css/b-report.css")
  // link(type="text/css", rel="stylesheet", href="css/b-analyse.css")
  // link(type="text/css", rel="stylesheet", href="css/b-schedule.css")
  // link(type="text/css", rel="stylesheet", href="css/b-clients.css")
  // link(type="text/css", rel="stylesheet", href="css/b-books.css")
  // link(type="text/css", rel="stylesheet", href="css/b-accounts.css")
  // link(type="text/css", rel="stylesheet", href="css/b-profile.css")
  // link(type="text/css", rel="stylesheet", href="css/b-help.css")

append scripts
  // Templates, generated from jade template by clientjade
  script(type="text/javascript", src="js/templates.js")
  script(type="text/javascript", src="js/common.js")
  script(type="text/javascript", src="js/jquery.fixheader.js")
  script(type="text/javascript", src="js/navigation.js")
  script(type="text/javascript", src="js/tables.js")
  // script(type="text/javascript", src="js/b-home.js")
  // script(type="text/javascript", src="js/b-order.js")
  // script(type="text/javascript", src="js/b-repo.js")
  // script(type="text/javascript", src="js/b-report.js")
  // script(type="text/javascript", src="js/b-analyse.js")
  // script(type="text/javascript", src="js/b-schedule.js")
  // script(type="text/javascript", src="js/b-clients.js")
  // script(type="text/javascript", src="js/b-books.js")
  // script(type="text/javascript", src="js/b-accounts.js")
  // script(type="text/javascript", src="js/b-profile.js")
  // script(type="text/javascript", src="js/b-help.js")
  // script(type="text/javascript", src="js/b-login.js")
  script(type="text/javascript", src="js/act.js")
