.frame-header
  h1 主页/概况 &nbsp;
    small 选择工作记录、查看工作进度、查询历史工作
.row
  .span3
    .legend 工作计划
    .alert.alert-info 当前的工作计划为 
      b: a#current-workset(href="#", rel="tooltip",
                           title="更换工作计划") 未知工作计划
    ul#workset-selector.nav.nav-pills.nav-stacked
      li.active: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
      li: a(href="#") 可怕的工作计划
  .span5
    .legend 概况
    table.table.table-striped.table-bordered
      tr
        td 征订书目总量
        td#order-count 0
      tr
        td 到货种类数量
        td#repository-count 0
      tr
        td 到货总金额
        td#repository-value 0
      tr
        td 征订总金额 
          span.label.label-important 已到货
        td#order-value 0
      tr
        td 移交确认数
        td#repo-ack-count 0
      tr
        td 订单完成数
        td#order-compl-count 0
  .span4
    .legend 进度
    #progress-repo-order
      到货率
      .pull-right 0%
      .progress.progress-info.active 
        .bar(style="width: 0%;")
    #progress-ack-repo
      移交确认率(确认失败
      b#repo-nak-count 0
      例)
      .pull-right 0%
      .progress.progress-warning.active 
        .bar(style="width: 0%;")
    #progress-complete-order
      订单完成率
      .pull-right 0%
      .progress.progress-success.active 
        .bar(style="width: 0%;")
.row
  .span12
    .legend 描述
    #human-readable-brief



