#announce.span3.offset2.columns
  .legend 系统公告
  pre.alert.alert-info.hide
#loginBox.span5.columns
  form#loginForm.form-horizontal
    fieldset
      .legend 用户登录
      .control-group
        label.control-label(for="username") 账户
        .controls
          input#username(type="text", name="username")
      .control-group
        label.control-label(for="username") 密码
        .controls
          input#password(type="password", name="password")
      // Put Error Messages Here
      #login-message
      .form-actions
        button#login.btn.btn-primary(type="submit") 登录

