ul.nav
  li: a#navi-home(href="#") 主页/总览
  li: a#navi-order(href="#") 征订目录
  li: a#navi-repo(href="#") 到货信息
  li.for-client: a#navi-report(href="#") 报表生成
  li.dropdown
    a.dropdown-toggle(href="#", data-toggle="dropdown") 应用工具
      b.caret
    ul.dropdown-menu
      li.for-operator: a#navi-analyse(href="#") 数据分析
      li: a#navi-schedule(href="#") 任务调度
  li.dropdown.for-admin
    a.dropdown-toggle(href="#", data-toggle="dropdown") 系统维护
      b.caret
    ul.dropdown-menu
      li: a#navi-clients(href="#") 征订单位管理
      li: a#navi-books(href="#") 书目信息管理
      li: a#navi-accounts(href="#") 用户配置管理
ul.nav.pull-right
  li.for-client: a#navi-profile(href="#") 个人设置
  li: a#navi-help(href="#") 帮助
  li.for-client: a#navi-logout(href="#") 登出
  li.for-guest: a#navi-login(href="#") 登录

