.frame-header
  h1 征订录入 &nbsp;
    small 输入征订信息、导入征订表、一书多校
.row
  #order-table.span12.table-responsive-frame
    table.table.table-striped.table-bordered.table-responsive
      thead
        tr
          td 征订
          td 书目
          td 版别
          td 数量
          block order-header
      tbody
        block order-table
