.frame-header
  h1 到货信息 &nbsp;
    small 输入到货信息、查询到货状态
.row
  #repo-table.span12.table-responsive-frame
    table.table.table-striped.table-bordered.table-responsive
      thead
        tr
          td 征订
          td 书目
          td 版别
          td 价格
          td 册数
          td 规格
          td 包装
          td 批次
      tbody
