.frame-header
  h1 任务调度 &nbsp;
    small 到货确认、分配状态记录、分书卡
.row
  #schedule-table.span12.table-responsive-frame
    table.table.table-striped.table-bordered.table-responsive
      thead
        tr
          td 征订
          td 书目
          td 版别
          td 汇总
          block schedule-header
      tbody
        block schedule-table
